<div class="main">
    <form #wfhRequestForm="ngForm" (ngSubmit)="onClickSubmit(wfhRequestForm)">
        <table>
            <tr>
                <td colspan="2" style="text-align: center">
                    <h2>{{title}}</h2>
                </td>
            </tr>
            <tr>
                <td> <label for="fromDate">From Date</label> </td>
                <td> <label for="toDate">To Date</label> </td>
            </tr>
            <tr>
                <td> <input type="date" [(ngModel)]="currentDate" name="fromDate" id="fromDate" required /> </td>
                <td> <input type="date" [(ngModel)]="currentDate" name="toDate" id="toDate" value="{{currentDate}}" required /> </td>
            </tr>
            <tr>
                <td> <label for="fromTime">From Time</label> </td>
                <td> <label for="toTime">To Time</label> </td>
            </tr>
            <tr>
                <td> <input type="time" [(ngModel)]="defaultFromTime" name="fromTime" id="fromTime" required />
                </td>
                <td> <input type="time" [(ngModel)]="defaultToTime" name="toTime" id="toTime" required /> </td>
            </tr>
            <tr>
                <td>
                    <label>&nbsp;</label>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <button id="submitButton" type="submit"> Submit </button>
                </td>
            </tr>
        </table>
    </form>
</div>

<router-outlet></router-outlet>